$font-family: "Montserrat", sans-serif;

$primary: #3772ff;
$secondary: #1f2041;

$breakpoints: (
    sm: 540px,
    md: 768px,
    xl: 1024px,
    lg: 1280px
);

$fonts: (
    light: 300,
    regular: 400,
    bold: 700
);
